  <!-- Topbar Start -->
                    <div class="navbar-custom" id="bg-navAdmin">
                        <div id="logoNavCustom">
                        </div>
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a style="color:#fff;" class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar">                                        
                                        <span><i class="fa-regular fa-user"></i></span>
                                    </span>
                                    <span>
                                        <span style="font-size:15px;" class="account-user-name">Nombre Usuario 
                                        <i class="dripicons-chevron-down"></i></span>
                                        <span class="account-position">Administrador</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a href="#" class="dropdown-item notify-item">
                                        <i class="mdi mdi-lock-outline me-1"></i>
                                        <span>Cambiar Contraseña</span>
                                    </a>
                                    <a href="login.html" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Cerrar Sesión</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                        <div id="titleCustomServicio">
                            REPORTEADOR
                        </div>
                    </div>
                    <!-- end Topbar -->