 <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
                <!-- LOGO -->
                <a href="#" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="assets/images/logo1.png" alt="" width="130">
                    </span>
                    <span class="logo-sm">
                        <img src="assets/images/logo_sm2.png" alt="" width="40">
                    </span>
                </a>
                <div class="h-100" id="leftside-menu-container" data-simplebar="">
                    <!--- Sidemenu -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="index.html" class="side-nav-link">
                                <i class="fa-solid fa-house"></i>
                                <span> Inicio </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#seguridad" aria-expanded="false" aria-controls="seguridad" class="side-nav-link">
                                <i class="fas fa-user-lock"></i>
                                <span> Seguridad </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="seguridad">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="#">Roles</a>
                                    </li>
                                    <li>
                                        <a href="#">Usuarios</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#administracion" aria-expanded="false" aria-controls="administracion" class="side-nav-link">
                                <i class="fas fa-file-medical-alt"></i>
                                <span> Administración </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="administracion">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Item 2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#operaciones" aria-expanded="false" aria-controls="operaciones" class="side-nav-link">
                                <i class="fas fa-laptop-medical"></i>
                                <span> Operaciones </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="operaciones">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Item 2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#atencion" aria-expanded="false" aria-controls="atencion" class="side-nav-link">
                                <i class="fa-solid fa-user-doctor"></i>
                                <span> Atención </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="atencion">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="#">Item 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Item 2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>                    
                    <!-- End Sidebar -->
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -left -->
            </div>
            <!-- Left Sidebar End -->